<h2>Liste des Abonnements</h2>


<button routerLink="/abonnements/ajouter" class="table-btn">
  ➕ Ajouter abonnements
</button>
<table border="1" cellpadding="5">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nom Abonnement</th>
    <th>ID Logiciel</th>
    <th>Prix</th>
    <th>Commentaire</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let a of abonnements">
    <td>{{ a.id_abonnement }}</td>
    <td>{{ a.nom_abonnement }}</td>
    <td>{{ a.id_logiciel }}</td>
    <td>{{ a.prix }}</td>
    <td>{{ a.commentaire }}</td>
    <td>
      <button (click)="modifierAbonnement(a.id_abonnement)">✏ Modifier</button>
      <button (click)="supprimeAbonnement(a.id_abonnement)">🗑 Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>
