<h2>Liste des Avis Clients</h2>

<button routerLink="/avis-client/ajouter">➕ Ajouter Avis Client</button>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Client</th>
    <th>Projet</th>
    <th>Date Appel</th>
    <th>Note Globale</th>
    <th>Note Service</th>
    <th>Commentaire</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let a of avisClients">
    <td>{{ a.id }}</td>
    <td>{{ a.id_client }}</td>
    <td>{{ a.projet }}</td>
    <td>{{ a.date_appel }}</td>
    <td>{{ a.note_globale }}</td>
    <td>{{ a.note_service }}</td>
    <td>{{ a.commentaire }}</td>
  </tr>
  </tbody>
</table>
