form {
  display: flex;
  flex-direction: column;
  width: 300px;

  input, textarea {
    margin-bottom: 10px;
    padding: 5px;
  }

  button {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #1976d2;
    color: white;
    border: none;
    cursor: pointer;
  }
}

button[routerLink] {
  margin-top: 15px;
}
