<!-- abonnement-form.component.html -->
<h2>{{ abonnementId ? 'Modifier Abonnement' : 'Ajouter Abonnement' }}</h2>

<form (ngSubmit)="ajouterAbonnement()">
  <div>
    <label for="nom_abonnement">Nom Abonnement :</label>
    <input id="nom_abonnement"
           [(ngModel)]="nouvelAbonnement.nom_abonnement"
           name="nom_abonnement"
           required>
  </div>

  <div>
    <label for="id_logiciel">ID Logiciel :</label>
    <input id="id_logiciel"
           [(ngModel)]="nouvelAbonnement.id_logiciel"
           name="id_logiciel"
           type="number"
           required>
  </div>

  <div>
    <label for="prix">Prix :</label>
    <input id="prix"
           [(ngModel)]="nouvelAbonnement.prix"
           name="prix"
           type="number">
  </div>

  <div>
    <label for="commentaire">Commentaire :</label>
    <input id="commentaire"
           [(ngModel)]="nouvelAbonnement.commentaire"
           name="commentaire">
  </div>

  <div class="button-group">
    <button type="submit">{{ abonnementId ? 'Modifier' : 'Ajouter' }}</button>
    <button type="button" routerLink="/abonnements">⬅ Retour à la liste</button>
  </div>
</form>
