<p>dashboard works!</p>
<h1>Dashboard CRM</h1>

<div class="dashboard-menu">
  <button routerLink="/clients">Liste Clients</button>
  <button routerLink="/ajouter-client">Ajouter Client</button>
  <button routerLink="/logiciels">Liste Logiciels</button>
  <button routerLink="/abonnements">Abonnements</button>
  <button routerLink="/packs">Packs</button>
  <button routerLink="/materiels">Matériels</button>
  <button routerLink="/concurrents">Concurrents</button>
  <button routerLink="/avis-clients">Avis Clients</button>
</div>

<!-- Ici tu peux mettre un <router-outlet> si tu veux charger les composants dans le dashboard -->
<router-outlet></router-outlet>
