<h2>Liste des Matériels</h2>

<button routerLink="/materiels/ajouter">➕ Ajouter Matériel</button>

<table border="1" cellpadding="5">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Catégorie</th>
    <th>Prix</th>
    <th>Disponibilité</th>
    <th>Garantie</th>
    <th>Duree</th>
    <th>Gamme</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let m of materiels">
    <td>{{ m.id_materiel }}</td>
    <td>{{ m.nom_materiel }}</td>
    <td>{{ m.categorie || 'N/A' }}</td>
    <td>{{ m.prix || 'N/A' }}</td>
    <td>{{ m.disponibilite }}</td>
    <td>{{ m.garantie || 'N/A' }}</td>
    <td>{{ m.duree_garantie || 'N/A' }}</td>
    <td>{{ m.gamme || 'N/A' }}</td>
    <td>{{ m.description || 'N/A' }}</td>
    <td>
      <button (click)="modifierMateriel(m.id_materiel)">Modifier</button>
      <button (click)="supprimerMateriel(m.id_materiel)">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>
