<h2>Liste des Concurrents</h2>

<button routerLink="/concurrents/ajouter">➕ Ajouter Concurrent</button>

<table border="1" cellpadding="5">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Secteur</th>
    <th>Ville</th>
    <th>Pays</th>
    <th>Numéro</th>
    <th>Email</th>
    <th>Part marché</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of concurrents">
    <td>{{ c.id_concurrent }}</td>
    <td>{{ c.nom }}</td>
    <td>{{ c.secteur }}</td>
    <td>{{ c.ville }}</td>
    <td>{{ c.pays }}</td>
    <td>{{ c.numero }}</td>
    <td>{{ c.email }}</td>
    <td>{{ c.part_de_marche }}</td>
    <td>
      <button (click)="modifierConcurrent(c.id_concurrent)">Modifier</button>
      <button (click)="supprimerConcurrent(c.id_concurrent)">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>
