<h2>{{ isEditing ? 'Modifier Concurrent' : 'Ajouter Concurrent' }}</h2>

<form (ngSubmit)="ajouterConcurrent()">
  <input [(ngModel)]="nouveauConcurrent.nom" name="nom" placeholder="Nom" required>
  <input [(ngModel)]="nouveauConcurrent.secteur" name="secteur" placeholder="Secteur" required>
  <input [(ngModel)]="nouveauConcurrent.pays" name="pays" placeholder="Pays" required>
  <input [(ngModel)]="nouveauConcurrent.ville" name="ville" placeholder="Ville" required>
  <input [(ngModel)]="nouveauConcurrent.numero" name="numero" placeholder="Téléphone">
  <input [(ngModel)]="nouveauConcurrent.email" name="email" placeholder="Email">
  <input [(ngModel)]="nouveauConcurrent.site_web" name="site_web" placeholder="Site web">
  <input [(ngModel)]="nouveauConcurrent.points_forts" name="points_forts" placeholder="Points forts">
  <input [(ngModel)]="nouveauConcurrent.points_faibles" name="points_faibles" placeholder="Points faibles">
  <input [(ngModel)]="nouveauConcurrent.part_de_marche" name="part_de_marche" placeholder="Part de marché">
  <input [(ngModel)]="nouveauConcurrent.strategie_prix" name="strategie_prix" placeholder="Stratégie prix">
  <input [(ngModel)]="nouveauConcurrent.strategie_marketing" name="strategie_marketing" placeholder="Stratégie marketing">
  <input [(ngModel)]="nouveauConcurrent.remarques" name="remarques" placeholder="Remarques">

  <button type="submit">{{ isEditing ? 'Mettre à jour' : 'Ajouter' }}</button>
</form>

<h2>Liste des Concurrents</h2>

<table border="1" cellpadding="5">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Secteur</th>
    <th>Ville</th>
    <th>Pays</th>
    <th>Numéro</th>
    <th>Email</th>
    <th>Part marché</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of concurrents">
    <td>{{ c.id_concurrent }}</td>
    <td>{{ c.nom }}</td>
    <td>{{ c.secteur }}</td>
    <td>{{ c.ville }}</td>
    <td>{{ c.pays }}</td>
    <td>{{ c.numero }}</td>
    <td>{{ c.email }}</td>
    <td>{{ c.part_de_marche }}</td>
    <td>
      <button type="button" (click)="modifierConcurrent(c)">Modifier</button>
      <button type="button" (click)="supprimerConcurrent(c.id_concurrent)">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>
