<h2>Liste des Packs</h2>
<button routerLink="/packs/ajouter">➕ Ajouter Pack</button>

<table border="1" style="margin-top: 10px; width: 100%;">
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Description</th>
    <th>Prix</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let pack of packs">
    <td>{{ pack.id }}</td>
    <td>{{ pack.nom }}</td>
    <td>{{ pack.description }}</td>
    <td>{{ pack.prix }}</td>
    <td>
      <button (click)="modifierPack(pack.id)">Modifier</button>
      <button (click)="supprimerPack(pack.id)">Supprimer</button>
    </td>
  </tr>
</table>
