<h2>Liste des Packs</h2>

<button routerLink="/packs/ajouter" class="table-btn">
  ➕ Ajouter packs
</button>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Description</th>
    <th>Prix</th>
    <th>Disponibilité</th>
    <th>Garantie</th>
    <th>Durée Garantie</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let pack of packs">
    <td>{{ pack.id_pack }}</td>
    <td>{{ pack.nom_pack }}</td>
    <td>{{ pack.description }}</td>
    <td>{{ pack.prix }}</td>
    <td>{{ pack.disponibilite }}</td>
    <td>{{ pack.garantie }}</td>
    <td>{{ pack.duree_garantie }}</td>
    <td>
      <button *ngIf="pack.id_pack" (click)="modifierPack(pack.id_pack)">✏ Modifier</button>
      <button *ngIf="pack.id_pack" (click)="supprimerPack(pack.id_pack)">🗑 Supprimer</button>
    </td>
  </tr>
</table>
